.root {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
    background-color: #333333;
    padding: 0px;
}

.gridlist {
    display: flex;
    padding: 0;
    flex-wrap: nowrap;
    list-style: none;
    overflow-y: auto;
    height: 200px;
    /* transform: translateZ(0); */
}

.MuiGridListTile-root {
    box-sizing: border-box;
    flex-shrink: 0;
    max-width: 22%;
}

.titleBar {
    color: #9dbfeb;
    background: linear-gradient(to top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.3) 70%, rgba(0,0,0,0) 100%);
}

.filter {
  text-align: center;
}

.filter > li {
	display: inline-block;
}

.logged-in {
    font-size: 25px;
    color: black;
    text-align: center;
    font-weight: 400;
}
